<footer>
    <div class="con-header">
         <div class="logo"><a href="/"><img src="imag/logo.jpg" alt="" width="40%"></a></div>
         <div class="opciones">
            <div class="opciones_2">
                <div class="op"> <a href="https://www.instagram.com/mastomcnc/" style="color:black ;" target="_blank"><i class="fab fa-instagram"></i></a> </div>
                <div class="op"><a href="https://www.facebook.com/mastomcnc" style="color:black ;" target="_blank"><i class="fab fa-facebook"></i></a> </div>
                </div>
       </div>
    </div>
    <span class="whatsapp" ><a href="https://api.whatsapp.com/send?phone=541153868732&text=Hola, me interesa conocer sus equipos" target="_blank"><i class="fab fa-whatsapp"></i></a></span>
</footer>               

