<footer>
    <div class="con-header">
         <div class="logo"><img src="imag/logo.jpg" alt="" width="40%"></div>
         <div class="opciones">
            <div class="op"> <a href="https://www.instagram.com/mastomcnc/" style="color:black ;" target="_blank"><i class="fab fa-instagram"></i></a> </div>
            <div class="op"> <i class="fab fa-facebook"></i> </div>
            <div class="op"> <i class="fab fa-linkedin"></i></div>
            <div class="op"> <i class="fab fa-youtube"></i> </div>
         </div>
    </div>
    <span class="whatsapp" ><a href="https://api.whatsapp.com/send?phone=541153868732&text=Contactenos" target="_blank"><i class="fab fa-whatsapp"></i></a></span>
</footer>               

