<header>  

    <div class="con-header">
        <div class="logo"><img src="imag/logo.jpg" alt="" width="40%"></div>
        <div class="opciones">
            <div class="op"> <a href="/"> <p class="fw-bold"> Inicio </p> </a></div>
            <div class="op"> <a href="/products"> <p class="fw-bold"> Productos </p> </a></div>
            <div class="op"> <a href="/contact"> <p class="fw-bold"> Nosotros </p> </a></div>
            <div class="op"> <a href="/services"> <p class="fw-bold"> Contacto </p> </a></div>
        </div>
    </div>


</header>