<header>  

    <div class="con-header">
        <div class="logo"><a href="/"><img src="imag/logo.jpg" alt="" width="40%"></a></div>
        <div class="opciones">
            <div class="op" id="op-nav"> <a href="/"> <p class="fw-bold"> Inicio </p> </a></div>
            <div class="op" id="op-nav"> <a href="/products"> <p class="fw-bold"> Productos </p> </a></div>
            <div class="op" id="op-nav"> <a href="/contact"> <p class="fw-bold"> Nosotros </p> </a></div>
            <div class="op" id="op-nav"> <a href="/services"> <p class="fw-bold"> Contacto </p> </a></div>
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4" style="color:white; ;">
                <a href="/"style="text-decoration: none;"><p class="fw-bold" style="color:white;"> Inicio </p> </a>
                <a href="/products"style="text-decoration: none;"><p class="fw-bold" style="color:white;">Productos</p> </a>
                <a href="/contact"style="text-decoration: none;"><p class="fw-bold" style="color:white;">Nosotros</p> </a>
                <a href="/services"style="text-decoration: none;"><p class="fw-bold" style="color:white;">Contacto</p></a>
                </div>
              </div>
              <nav class="navbar">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" style="color:#4E759C;">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>
              </nav>
        </div></div>
        </div>
        <div>
 
    </div>


</header>