<header>  

    <div class="con-header">
        <div class="logo"><h3> Logo </h3></div>
        <div class="opciones">
            <div class="op"> <a href="../home.ejs"> <p class="fw-bold"> Inicio </p> </a></div>
            <div class="op"> <p class="fw-bold"> Productos </p> </div>
            <div class="op"> <p class="fw-bold"> Contacto </p> </div>
            <div class="op"> <p class="fw-bold"> Servicios </p> </div>
        </div>
    </div>


</header>