<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%>
<body>
  <%-include('./partials/header')%>

    <main>
      <div class="columna-nosotros" style="margin-left: 3%;">
        <div class="row" style="margin-bottom: 4%;"><div class="col-sm" id="modelos"><img src="imag/logo.jpg" alt="" width="50%"></div><div class="col"><h3 style="text-align:center;margin-top: 15%;"> <h4>QUIENES SOMOS</h4> <hr> Somos una empresa dedicada al desarrollo y distribución de equipos de corte automatizado (CNC). Dentro de nuestro catálogo de equipos contamos con una amplia gama de equipos. Contamos con personal con experiencia y formación en el rubro para guiar y orientar a cada uno de nuestros clientes en su toma de decisión a través de la adquisición de un CNC que se adapte a las necesidades de su empresa.</div></div>
        <div class="row" style="margin-bottom: 4%;"><div class="col-sm"><h6>¿Qué es un ROUTER CNC?</h6><hr>Un Router CNC es una máquina controlada por una computadora y su función es realizar cortes de forma automatizada. Las trayectorias de los cortes son controladas mediante un sistema denominado de control numérico, mismo que envía desde el ordenador las coordenadas del corte con una precisión milimétrica.</div></div>
        <div class="row" style="margin-bottom: 4%;"><div class="col-sm"><h6>EQUIPOS</h6><hr>Somos fabricantes de equipos ROUTER CNC. Tenemos medidas estandarizadas, catalogadas en tres medidas: escritorio, medianos y grandes. Cada medida responde a una necesidad distinta. Por otro lado, ofrecemos distintos husillos, sistemas de transmisión, placas de interfaz y motores, amoldándonos a lo que requiere tu producción.</div></div>
        <div class="row" style="margin-bottom: 4%;"><div class="col-sm"><h6>ASESORÍA</h6><hr>La elección de un equipo ROUTER CNC es una tarea donde entran en juego numerosos factores. Cada usuario tiene una necesidad diferente a la hora de producir, cada uno cuenta con un espacio particular para poner su máquina, un presupuesto distinto, etc. Es por ello, que asesoramos de forma individual y nos tomamos el tiempo para ofrecerle la opción más adecuada a cada cliente brindándole información general y específica de cada equipo, sus componentes, el software y las fresas de corte.</div></div>   
        <div class="row" style="margin-bottom: 4%;"><div class="col-sm"><h6>INSUMOS</h6><hr>Contamos con todos los repuestos en forma permanente, en caso de tener que reemplazar algún componente de la máquina. Por otro lado, realizamos venta de insumos para aquellos usuarios que busquen armar su propia máquina o necesiten algo por separado.</div></div>
        <div class="row" style="margin-bottom: 4%;"><div class="col-sm"><h6>POST VENTA</h6><hr>Una vez que entregamos el equipo, nos encargamos de capacitar al usuario para su uso de forma integral: de forma progresiva enseñamos a utilizar la máquina propiamente dicha, el software de la placa de interfaz, los programas de diseño, los distintos tipos de fresas. También contamos con grupos de clientes, donde trabajamos palmo a palmo con cada uno de ellos, atendiendo sus distintas necesidades.</div></div>   
        <div class="row" style="margin-bottom: 4%;"><div class="col-sm"><h6>SERVICIO TECNICO</h6><hr>Ofrecemos servicio técnico en caso de algún desperfecto en la máquina.</div></div> 
        <div class="row" style="margin-bottom: 4%;"><div class="col"><h3 style="text-align:center;margin-top: 15%;"> <h4>CAPACITACIÓN</h4> <hr>Nuestro equipo se encarga de capacitar de forma progresiva a cada uno de nuestros clientes para el uso del equipo y su software, mediante videollamadas semanales a convenir con cada usuario. En un primer momento se realizan de forma individual y luego de forma grupal (opcional). En ambos casos no hay costo adicional</div><div class="col-sm" id="modelos"><video src="imag/capacitacion.mp4" style="width: auto; height:18em; margin-top: 15%;" autoplay muted loop></video></div></div>
      </div>

    </main>

    <%-include('./partials/footer')%>
  

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>