<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%>
<body>
  <%-include('./partials/header')%>

    <main>
      <div style="width: 100%;border: solid 1 px black;">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="imag/banner_1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="imag/banner_2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="imag/banner_3.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
        <div class="caja_home">
        <div class="row"><div class="col-sm" id="modelos"><img src="imag/modelos.jpg" alt="" width="50%" style="padding: 5%;"></div><div class="col-sm" style="background-color: #E5E9EB; text-align: center;"><h3 style="padding: 2%;"><h4>Un modelo para cada necesidad</h4> <br> Routers CNC para todas las necesidades, amplia paleta de equipos de 1HP, 2HP y 3HP <br> de potencia para cualquier tipo de trabajo y material.</h3> <hr class="mobile"></div></div>
        <div class="row"><div class="col-sm" style="background-color: #E5E9EB; text-align: center;display: flex;flex-direction: column;justify-content: center;"><h3> <h4> Servicio de Cortes</h4> Realizamos cortes a pedido con cualquiera de nuestros routers CNC. <br> También realizamos grabados con láser. <br> Comunicate a través de cualquiera de nuestros contactos <br> y te asesoraremos de la mejor manera. </h3></div><div class="col-sm" style="text-align: center;"><video src="imag/garage.mp4" style="width: 65%; padding: 5%;" autoplay muted loop></video> <hr class="mobile"></div></div>
        <div class="row"> <div class="col-sm" id="modelos"><img src="imag/capacitacion.jpg" alt="" width="50%" style="padding: 5%;"></div><div class="col-sm" style="background-color: #E5E9EB; text-align: center;"><h3 style="padding: 2%;"><h4>Servicio Post-Venta</h4> <br> Junto con la compra de nuestros routers viene incluido un servicio continuo de capacitación. <br>Cualquier consulta del equipo será respondida a la brevedad para que puedas sacarle el máximo provecho a tu equipo</h3> <hr class="mobile"></div></div>
        <div class="row"><div class="col-sm" style="background-color: #E5E9EB;text-align: center;"><div class="showroom_2"><h5>¡Conocé nuestro Showroom!</h5> Todas las semanas abrimos el showroom al público para que puedan observar los equipos ensamblados y funcionando</div></div><div class="col-sm" id="modelos"><img src="imag/showroom.png" alt="" width="50%" class="showroom"></div></div>
        <div class="row"><div class="col-sm" id="mapa"><hr class="mobile"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d205.3445515280899!2d-58.49364315091383!3d-34.56588839537717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb747afd96ff9%3A0x8adfa56ff6daf21d!2sCNC%20Evolution!5e0!3m2!1ses-419!2sar!4v1659644407278!5m2!1ses-419!2sar" width="75%" height="60%"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        <div class="col" style="background-color: #E5E9EB;"> <div class="referencias"> <h3><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </h3> <br> <p> Ubicados en el corazón de <strong>Villa Urquiza</strong>, somos <strong>MercadoLíder Platinum</strong> y contamos con más de 1500 clientes en todo el país. <br> Nuestra reputación es la razon por la que tenemos nuevos clientes día a día</p></div></div>
        </div>
        </div>
        </div>
    </main>

    <%-include('./partials/footer')%>
  

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>