header{
    width: 100%;
    height: 5em;
    background-color:#4E759C;
    box-shadow: 0px 5px 60px 0.5px grey;
    opacity: 0.95;
    position: fixed;
    z-index: 1;
}

footer{
    height: 5em;
    background-color:#F6F8F9;
}

main{
    padding-top: 5em;
    height: auto;
    z-index: 0;
}


.col{
    height: 20em;
}

.con-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.logo{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}


.op{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.op p{
    color: #F6F8F9;
}

.op a{
    text-decoration: none;
}
.whatsapp {
    font-size: 200%;
    margin-right: -8%;
    position: fixed;
    right: 10%;
    width: 55px;
    height: 55px;
    line-height: 50px;
    bottom: 30px;
    background-color: #0df053;
    border-radius: 45px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.whatsapp i{
color: white;
}

.whatsapp a:hover{
    color:#0df053;
}

.columna{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 60em;
}

.contenedorCarrusel{
    height: 20em;
}

.img{
    height: 20em;
    width: 100%;
}

.referencias{
    text-align: center;
    margin: 10%; 
}

.referencias i{
 color:  #efb810;
}

#modelos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#video{
    text-align:center; 
    margin-top:10%; 
    width: 95%;
    margin-left: 5%;
}