header{
    width: 100%;
    height: 5em;
    background-color:#4E759C;
    box-shadow: 0px 5px 60px 0.5px grey;
    opacity: 0.95;
    position: fixed;
    z-index: 2;
}

footer{
    height: 5em;
    background-color:#F6F8F9;
}

main{
    padding-top: 5em;
    height: auto;
    z-index: 0;
}


.col{
    height: 20em;
}

.con-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.logo{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}


.op{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.op p{
    color: #F6F8F9;
}

.op a{
    text-decoration: none;
}

#mapa{
    text-align:center; 
    margin-top:5%;
}

.whatsapp {
    font-size: 200%;
    margin-right: -8%;
    position: fixed;
    right: 10%;
    width: 55px;
    height: 55px;
    line-height: 50px;
    bottom: 30px;
    background-color: #0df053;
    border-radius: 45px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.whatsapp i{
color: white;
}

.whatsapp a:hover{
    color:#0df053;
}

.columna{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 80em;
}

.contenedorCarrusel{
    height: 20em;
}
#img{

    width: 100%;
}

.referencias{
    text-align: center;
    margin: 10%; 
}

.referencias i{
 color:  #efb810;
}

#modelos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#capacitacion{
    width: auto; 
    height:18em; 
    margin-top: 15%;
}

#video{
    margin-top:15%; 
    width: 95%;
}

.op a :hover{
    font-size: large;
}
.navbar{
    visibility: hidden;

}
.mobile{
    visibility: hidden;
}

.showroom{
    padding: 2%;
}
.showroom_2{
    margin-top:10%
}
.caja_tipo{
    margin-top: -50%;
    height: 8em;
}

.caja_tipo p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.caja_tipo button{
    background-color: #4E759C;
}
.caja_producto{
    height: 40em;
    display: flex;
    flex-direction: column;
}
.titulo_producto{
width: 100%;
height: 5%;
margin-bottom: 5%;
text-align: center;
}
.producto{
width: 100%;
height: 80%;
display: flex;
flex-direction: row;
justify-content: space-around;
}
.carta_producto{
    width: 30%;
    text-align: center;
}

.tipo{
    height:100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}
.contenedor_producto{
    height:100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

#tarjeta_producto{
    height: 100%;
}
.big_box{
     display: flex;
    flex-direction:row ;
    height: 150em;
}

.columna-nosotros{
    width: 100%;
}


.caja_home{
    width: 99%;
}

@media screen and (max-width: 600px) {
    .navbar{
        visibility: visible;

    }
    #capacitacion{
        margin-top: 2%;
    }
.logo{
    width: 70%;
}
    #op-nav{
        display: none;
    }
    #video{
        margin-top:0%; 
    }
    .mobile{
        visibility: visible;
    }
    .showroom{
        padding: 0%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .showroom_2{
        margin-top:3%
    }
    .producto{
        flex-direction: column;
        align-items: center;
        height: 95%;
        
    }

.titulo_producto{
    margin-bottom: -10%;
}
    .contenedor_producto{ 
        justify-content: space-between;
    }
        .caja_tipo button{
            width: 100%;
        }
        .carta_producto{
            width: 70%;
            height: 30%;
            
        }
        .caja_producto{
            height: 95em;
        }
#img{
    width: 50%;
}
      
        .caja_tipo{
            z-index: 1;
        }

        .big_box{
            height: 350em;
        }

        #quienes{
    margin-bottom: 15%;
        }
        .caja_home{
            width: 95%;
        }
        
}



